/* *************************general*********************************** */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#container {
  width: 80%;
  /* % :taille au parent
  px : 1px
  en : unité de mesure par raport à la police d'écriture ( 1em = 16px */
}

body {
  background-color: goldenrod;
}

/* *********************************header***************************** */
header {
  background-color: rgb(8, 106, 218);
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  padding: 0.4em 0;
}

.simpsons {
  width: 100%;
  vertical-align: top;
}
/* ************************************************ main nav************************************************* */
main {
  background-color: white;
}
